.error-box {
    color: red;
    padding: 1.25rem;
    border: 0.125rem solid red;
    border-radius: 0.5rem;
    background-color: #ffe6e6;
    font-size: 1rem;
    max-width: 25rem;
    margin: 1.25rem auto;
    text-align: center;
  }