.price {
    font-size: 1.3rem;
    font-weight: bold;
  }

.no-price {
  font-size: 0.9rem;
  font-weight: 400;
}

.favorite-button {
  background: none;
  border: none;
  cursor: not-allowed;
  font-size: 1.2rem;
}

.favorite-button.favorite {
  color: red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
