.features {
    font-size: 0.8rem;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .features-text {
    display: flex;
    align-items: center;
  }